/**
 * Main style file
 */

// Left side panel
aside.panel {
    background-color: $navigation-bg;

    .panel-heading {
        background-color: $logo-bg;
        border: none;

        .logo {
            max-height: 100%;
        }
    }

    .navbar-header {
        .navbar-toggle {
            color: #fff;
        }
    }

    #navigation {
        overflow: hidden;
        transition: height ease-out .2s;

        &.collapsed {
            height: 0 !important;
        }
    }

    .nav-pills {
        a {
            color: #fff;
        }

        .glyphicon {
            margin-right: 1.5em;
        }

        .user-image {
            border: 1px solid $primary-color;
            height: 2em;
            margin-right: .5em;
        }
    }
}

// Main panel
section.panel {
    .panel-heading {
        background-color: $primary-color;

        .actions {
            position: absolute;
            right: $padding;

            select {
                color: $secondary-color;
                border-color: $secondary-color;
            }
        }
    }

    .panel-body {
        padding: 50px 20px;

        dt {
            margin-bottom: .5em;
        }

        dd {
            padding-left: 2em;
        }
    }

    .panel-footer {
        .copyright {
            padding: 10px 0;
            font-size: .75em;
            line-height: 19px;
        }

        .sitemap {
            float: right;
        }

        .copyright, .nav {
            display: inline-block;
            vertical-align: middle;
        }

        img {
            width: 100px;
        }

        .nav li {
            float: left;
        }
    }
}
